body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    
}
.highlight{
    color: orange;
}
.half-width{
    width: 40%;
  float: left;
    margin-left: 5%;
    padding: 2%;
}
img{
    width: 100%;
}
.Top-Banner{
   
  background-image: url("images/top-banner.png");
  width: 100%;
  background-repeat: no-repeat;
}
section{
    height: 500px;
}